.base {
	height: 70px;
	width: 144px;
	background-color: #857e7e;
	border: none;
	border-radius: 5px;
	// margin-top: 695px;
	// margin-left: 50px;
	// background: transparent;
	cursor:  pointer;
	transition: background-color 0.3s ease; // Плавное изменение яркости

	&:active {
		background-color: rgba(4, 4, 4, 0.25); // Затемнение при нажатии 
	 }
}