.base {
	height: 115px;
	width: 245px;
	// background-color: #857e7e;
	border: none;
	border-radius: 10px;
	margin-top: 590px;
	margin-left: 270px;
	background: transparent;
	cursor:  pointer;
	transition: background-color 0.3s ease; // Плавное изменение яркости

	&:active {
		background-color: rgba(4, 4, 4, 0.25); // Затемнение при нажатии 
	 }
}